@tailwind base;
@tailwind components;
@tailwind utilities;


/* Satoshi Font */
@font-face {
  font-family: 'Satoshi';
  src: url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff2') format('woff2'),
       url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2') format('woff2'),
       url('./font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Cabinet Grotesk Font */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
       url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
       url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Light.woff2') format('woff2'),
       url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
       url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Black.woff2') format('woff2'),
       url('./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

html,
body {
  font-family: 'Satoshi', sans-serif;
  box-sizing: border-box;
  width: 100vw;
}

.waitlist {
  background: linear-gradient(
    90deg,
    rgba(5, 17, 18, 0.8) 0%,
    rgba(19, 148, 154, 0.7) 50%,
    rgba(5, 17, 18, 0.7) 100%
  );
}

.waitlist-email-input {
  background: linear-gradient(180deg, #144043 6.25%, #14666B 35.78%, #13949A 100%);


}

.waitlist-email-input:focus {
  border: 4px #BEDEF2 solid;
}

.logo-container {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #144043;
  border-radius: 8px;
  display: grid;
  place-items: center;
  position: relative;
  border: 2px solid transparent; /* Invisible border for spacing */
  animation: border-animation 10s infinite; /* Apply animation */
}

@keyframes border-animation {
  0% {
    border-top: 1px solid #cfeced;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  25% {
    border-top: 1px solid transparent;
    border-right: 1px solid #cfeced;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  50% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #cfeced;
    border-left: 1px solid transparent;
  }
  75% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #cfeced;
  }
  100% {
    border-top: 1px solid #cfeced;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}

.waitlist-line-left {
  background: linear-gradient(
    90deg,
    rgba(6, 106, 111, 0.2) 0%,
    rgba(206, 210, 212, 0.7) 100%
  );
}
.waitlist-line-right {
  background: linear-gradient(
    90deg,
    rgba(6, 106, 111, 0.2) 0%,
    rgba(206, 210, 212, 0.7) 100%
  );
}

.health-text-box{
  background:  linear-gradient(90deg, rgba(6, 106, 111, 0.1) 0%, rgba(206, 210, 212, 0.5) 50.5%, rgba(6, 106, 111, 0.1) 91%);


}


